.print-container {
  padding: 16px;

  .grade-hero {
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
    border: 2px solid #eee;
    display: inline-block;
    padding: 8px 16px;
    margin-top: -8px;
    margin-bottom: 8px;
    border-radius: 16px;
  }
}

table {
  page-break-inside: auto
}

tr {
  page-break-inside: avoid;
  page-break-after: auto
}