:host {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin: 16px 0;
  background: #f7f7f7;

}

.code-example-title {
  height: 48px;
  font-size: 14px;
}

.code-example-wrapper {
  display: flex;

  .code-example-column {
    flex: 1;
    min-width: 0;
  }

  .result-column {
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
}

@media (max-width: 600px) {
  .code-example-wrapper {
    display: block;
    .code-example-column {
      height: 250px;
    }
    .result-column {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-left: none;
    }
    mat-tab-group {
      max-height: 100%;
    }
  }
}

pre {
  background: #f7f7f7;
  margin: 0;
  white-space: pre-wrap;
  display: flex;
  code {
    background: transparent!important;
    padding: 8px;
  }
}

mat-tab-group {
  background: white;
}