<mat-toolbar color="primary" class="code-example-title" *ngIf="gist?.title">
  {{ gist.title }}
</mat-toolbar>
<div class="code-example-wrapper">
  <div class="code-example-column" *ngIf="gist?.files && filesLoaded">
    <mat-tab-group mat-align-tabs="start">
      <mat-tab [label]="file.label" *ngFor="let file of gistFiles">
        <pre>
          <code [highlight]="file.content" [languages]="file.language"></code>
        </pre>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="code-example-column result-column" *ngIf="gist?.result">
    <iframe #resultFrame (load)="onSrcChange()"></iframe>
    <div class="console" *ngIf="consoleLogs.length">
      <div class="log" *ngFor="let log of consoleLogs">
        <span *ngFor="let logPart of log">{{ logPart }} </span>
      </div>
    </div>
    <div class="reload-window" *ngIf="srcChanged">
      <button mat-icon-button (click)="setIframe()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
</div>