<mat-toolbar color="primary" class="code-example-title" *ngIf="title">
  {{ title }}
</mat-toolbar>
<div class="code-example-wrapper">
  <div class="code-example-column">
    <mat-tab-group mat-align-tabs="start" >
      <mat-tab label="HTML" *ngIf="html && htmlCode">
        <pre>
          <code [highlight]="htmlCode" [languages]="['xml']"></code>
        </pre>
      </mat-tab>
      <mat-tab label="CSS" *ngIf="css && cssCode">
        <pre>
          <code [highlight]="cssCode" [languages]="['css']"></code>
        </pre>
      </mat-tab>
      <mat-tab label="JS" *ngIf="js && jsCode">
        <pre>
          <code [highlight]="jsCode" [languages]="['javascript']"></code>
        </pre>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="code-example-column result-column" *ngIf="result">
    <iframe #resultFrame></iframe>
    <div class="console"></div>
  </div>
</div>