:host {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin: 16px 0;
  background: #f7f7f7;

}

.code-example-title {
  height: 48px;
  font-size: 14px;
}

.code-example-wrapper {
  display: flex;

  .code-example-column {
    flex: 1;
    min-width: 0;
    max-height: 50vh;
  }

  .result-column {
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;

    display: flex;
    flex-direction: column;

    iframe {
      width: 100%;
      flex: 1;
      border: none;
    }

    .reload-window {
      position: absolute;
      top: 0;
      right: 0;
    }

    .console {
      font-family: 'Courier New', Courier, monospace;
      overflow: auto;
      max-height: 20%;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      .log {
        padding: 4px;
        border-bottom: 1px solid #eeeeee;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &.full-console {
      iframe {
        display: none;
      }
      .console {
        max-height: none;
        flex: 1;
      }
    }
  }

  mat-tab-group {
    max-height: 100%;
  }
}

@media (max-width: 600px) {
  .code-example-wrapper {
    display: block;
    .code-example-column {
      height: 250px;
    }
    .result-column {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      border-left: none;
    }
  }
}

pre {
  background: #f7f7f7;
  margin: 0;
  white-space: pre-wrap;
  word-break: break-word;
  display: flex;
  code {
    background: transparent!important;
    padding: 8px;
  }
}

mat-tab-group {
  background: white;
}