:host {
  display: block;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  .main-section-wrapper {
    min-width: 0;

    .lab-container {
      max-width: 1000px;
      padding: 24px;
      margin: 0 auto;

      .lab-header {
        .lab-subtitle {
          color: #616161;
          margin-bottom: 6px;
        }
      }

      .send-homework {
        text-align: center;
      }
    }
  }

  .second-section-wrapper {
    position: sticky;
    top: 0;

    @media(max-width: 767px) {
      display: none;
    }
  }

  .table-of-contents {
    margin: 12px 0;
    padding: 4px 12px;
    padding-left: 0;
    border-left: solid 4px #3f51b5;
    box-sizing: border-box;
    min-width: 200px;
    ul {
      margin: 0;
      list-style-type: none;
      padding-left: 12px;

      li {
        line-height: 16px;
        margin-top: 8px;
        a {
          color: rgba(0, 0, 0, 0.54);
          font-weight: 400;
          &:hover, &.active {
            color: #3f51b5;
          }
        }
      }
    }
  }
}