<div class="standard-view">
  <mat-toolbar>
    <span>TW Labs</span>
  </mat-toolbar>
  <div class="main-container">
    <div class="lab-list">
      <h1>Laboratoare</h1>
      <div class="list-items">
        <mat-card>
          <mat-card-subtitle>Laboratorul 1</mat-card-subtitle>
          <mat-card-title>HTML. Inducere în CSS</mat-card-title>
          <p>
            Scurtă recapitulare a cunoștințelor de HTML din liceu și 
            atribute CSS de bază.

          </p>
          <mat-card-actions align="end">
            <button mat-icon-button>
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
