@use '@angular/material' as mat;

:host {
  display: block;
  height: 100%;
}

.content {
  max-width: 650px;
  margin: 0 auto;
  padding: 24px;
}

.tab-navigation {
  @include mat.elevation(3);
  display: flex;
  align-items: center;
  background: #fff;
  z-index: 2;

  .tab {
    flex: 1;
    color: #616161;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background: #f5f5f5;
    }

    &.active {
      color: #3f51b5;
      .tab-content {
        transform: scale(1.05);
      }
    }

    .tab-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}