<div class="standard-view">
  <mat-toolbar>
    <span>TW Labs</span>
  </mat-toolbar>
  <div class="main-container">
    <div class="content"> 
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="tab-navigation">
    <a class="tab" routerLink="labs" routerLinkActive="active" matRipple>
      <div class="tab-content">
        <mat-icon>school</mat-icon>
        <div class="tab-title">Laboratoare</div>
      </div>
    </a>
    <a class="tab" routerLink="info" routerLinkActive="active" matRipple>
      <div class="tab-content">
        <mat-icon>info</mat-icon>
        <div class="tab-title">Informații</div>
      </div>
    </a>
  </div>
</div>