

.following-defs {
  > section {
    padding: 16px 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
    
    h4 code, h3 code {
      background: transparent!important;
      color: #3f51b5;
      padding: 0;
    }
  }
}