/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '~highlight.js/styles/github.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: block;
  height: 100%;
}

.standard-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  .main-container {
    flex: 1;
    overflow: auto;
  }
}

code span {
  background: transparent;
}

mat-tab-header {
  background: white;
}

.all-unset {
  all: unset!important;
}

.mat-tab-label {
  min-width: 64px!important;
}
