/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import '~highlight.js/styles/github.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
  display: block;
  height: 100%;
}

.standard-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  .main-container {
    flex: 1;
    overflow: auto;
    position: relative;
  }
}

code span {
  background: transparent;
}

.all-unset {
  all: unset!important;
}

.mat-tab-label {
  min-width: 64px!important;
}

mat-toolbar {
  .toolbar-title {
    margin-left: 8px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

a {
  color: #1976d2;
  text-decoration: none;
  font-weight: 500;
}

code {
  background: #f7f7f7!important;
  padding: 0 4px;
  border-radius: 2px;
}

.tip code {
  background: #ffc107!important;
}

.common-table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  margin: 12px 0;
  table {
    width: calc(100% + 2px);
    margin: -1px;
    border-collapse: collapse;
    th {
      text-align: left;
    }

    th, td {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 8px;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.observation {
  margin-top: 6px;
  margin-bottom: 8px;
  font-style: italic;
}

.obsolete {
  opacity: 0.5;
}

.break-word {
  word-break: break-word;
}

.pre-wrap {
  white-space: pre-wrap;
}

.badge {
  display: inline-flex;
  padding: 0 6px;
  line-height: 20px;
  background: #3f51b5;
  margin-right: 6px;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  user-select: none;
}

.definition {
  display: block;
  font-style: italic;
}

.following-defs {
  > .following-defs section {
    padding-left: 8px;
  }
  > section {
    padding: 16px 0;
    border-bottom: 1px solid #ddd;

    &:last-child {
      border-bottom: none;
    }
    
    h4 code, h3 code {
      background: transparent!important;
      color: #3f51b5;
      padding: 0;
    }
  }
}

code.break {
  white-space: pre-line;
  word-break: break-word;
}

code.key {
  border: 2px solid #e0e0e6;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: .825rem;
  background: #fff!important;
  box-shadow: inset 0 -1px 0 0 #e0e0e6;
}

dl {
  dd {
    margin: 8px 0;
    margin-left: 16px;
  }
}

pre.example {
  margin: 16px 0;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: auto;
  background: #f7f7f7;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-line;
  code {
    background: transparent!important;
    padding: 8px;
  }
}

.muted {
  color: #777;
}