<h1>Informații utile</h1>

<mat-card>
  <mat-card-title>Modalitatea de notare</mat-card-title>
  <p>
    <b>p1. Punctajul pe laborator:</b> 30p proiect la final de semestru + 10p pe activitate <br>
    <b>p2. Punctajul pe examen:</b> 60p - examenul se dă pe calculator <br>
    <b>Condiția de promovare:</b> p1 ≥ 20 și p2 ≥ 30
  </p>
  <h2>Cum se obține nota de la laborator?</h2>
  <p>
    Proiectul realizat va fi unul ce va folosi HTML, CSS, JavaScript pe frontend și Node.js
    pe backend. Tema proiectului este la alegere, însă veți avea o listă de cerințe care trebuie
    implementate. <br>
    În ceea ce privește restul de 10 puncte (nota laborantului), acestea se vor putea obține prin
    participare activă la laborator și rezolvarea temelor. Prezența la laborator nu este obligatorie,
    însă sper să participați într-un număr cât mai mare :)
  </p>
</mat-card>

<mat-card>
  <mat-card-title>Recomandări privind mediul de dezvoltare</mat-card-title>
  <ul>
    <li>Utilizarea <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> ca IDE;</li>
    <li>
      Folosiți Google Chrome sau Mozilla Firefox pentru a testa codul pe care în scrieți.
      Acestea dispun de DevTools superioare celorlaltor browsere, deci va fi mult mai ușor
      să faceți debugging. De asemenea, vă pot ajuta să vizualizați modificările CSS pe care
      le faceți elementelor HTML prin Inspect element, sau chiar să testați cod JS direct în consolă.
    </li>
    <li>
      Descărcați <a href="https://nodejs.org/en/" target="_blank">Node.js</a> (versiunea LTS) și 
      instalați-l pe calculatorul vostru.
    </li>
    <li>
      O ultimă recomandare este ca, în cazul în care puteți, să veniți cu propiul vostru laptop
      (cel puțin de la partea când începem Node.js). Veți câștiga probabil mult timp în ceea ce privește
      descărcarea și instalarea pachetelor de Node.
    </li>
    <li>
      Puneți cât mai multe întrebări și încercați să rezolvați toate temele, o să vă ajute să
      prindeți dexteritate pentru examen.
    </li>
  </ul>
</mat-card>

<mat-card>
  <mat-card-title>Date de contact</mat-card-title>
  <p>
    Andrei Hagi <br>
    <b>E-mail: </b><a href="mailto:hagiandrei.ah@gmail.com" target="_blank">hagiandrei.ah@gmail.com</a>
  </p>
</mat-card>
