<h1>Informații utile</h1>

<mat-card>
  <mat-card-title>Modalitatea de notare</mat-card-title>
  <p>
    <b>p1. Punctajul pe laborator:</b> 30p proiect la final de semestru + 10p pe activitate <br>
    <b>p2. Punctajul pe examen:</b> 60p - examenul se dă pe calculator <br>
    <b>Condiția de promovare:</b> p1 ≥ 20 și p2 ≥ 30
  </p>
  <h2>Cum se obține nota de la laborator?</h2>
  <p>
    Proiectul realizat va fi unul ce va folosi HTML, CSS, JavaScript pe frontend și Node.js
    pe backend. Tema proiectului este la alegere, însă veți avea o listă de cerințe care trebuie
    implementate. <br>
    În ceea ce privește restul de 10 puncte (nota laborantului), acestea se vor putea obține prin
    participare activă la laborator și rezolvarea temelor. Prezența la laborator nu este obligatorie,
    însă sper să participați într-un număr cât mai mare :)
  </p>
</mat-card>

<mat-card>
  <mat-card-title>Cerințe proiect</mat-card-title>
  <mat-card-subtitle>Deadline: Săptămânile 13-14</mat-card-subtitle>
  <!-- <p>
    <b>
      Prezentarea proiectelor va avea loc în zilele de 19.05.2022 și 26.05.2022.
      Repartiția studenților în aceste zile este făcută de fiecare grupă în parte.
      Fiecare student va avea alocate cel puțin 10 minute pentru a-și prezenta proiectul și
      a răspunde la eventuale întrebări. 
      <span style="color: red;">
        Este obligatoriu ca proiectul să fie pe GitHub/GitLab/etc. Prezentarea
        va fi făcută cu ultimul commit înainte de deadline.
      </span>
    </b>
  </p> -->
  <p>
    Tema proiectului este la alegere, însă implementarea trebuie să respecte cerințele de mai jos
    pentru punctaj maxim. Încercați să înglobați aceste cerințe într-o manieră cât mai naturală - 
    identificați o temă sau o implementare pentru care cerințele să aibă sens. <br><br>
    <b>Atenție! </b> Nu folosiți librării sau framework-uri pentru CSS sau JavaScript - acesta este
    un curs introductiv, deci se urmărește testarea cunoștințelor de bază HTML, CSS și JavaScript. <br><br>
    Pe măsură ce avansăm cu materia și în cazul în care avem timp să facem puțin mai mult decât la curs,
    o să adaug câteva cerințe bonus (deci opționale) care vă pot ajuta să recuperați în cazul în care
    pierdeți câteva puncte la cerințele obligatorii.<br><br>
    <b>Foarte important: </b> În elaborarea proiectului este obligatoriu să folosiți un version control 
    system (git). Faceți un git repository pe GitHub, GitLab sau unde doriți. Este important să aveți mai
    multe commit-uri în care să se vadă progresul pe care l-ați făcut în proiect de-a lungul timpului. 
    
  </p>
  <b>HTML și CSS (10p)</b>
  <ul>
    <li>fișiere separate pentru HTML și CSS</li>
    <li>folosiți elemente semantice</li>
    <li>site-ul trebuie să fie responsive (folosiți media queries și unități relative)</li>
    <li>folosiți majoritatea selectorilor CSS (cei de bază, pseudo-clase și peseudo-elemente, combinatori)</li>
    <li>folosiți majoritatea proprietăților CSS prezentate în laboratorul 2</li>
    <li>folosiți flex și grid layouts</li>
    <li>existența unui meniu drop-down folosind CSS</li>
    <li>tranziții CSS pentru diferite proprietăți</li>
    <li>animații CSS care să modifice mai multe proprietăți</li>
  </ul>
  <b>JavaScript (12p)</b>
  <ul>
    <li>fișiere separate de JavaScript</li>
    <li>modificarea stilului unui element sau unui grup de elemente</li>
    <li>manipularea DOM-ului (selectați elemente după ID, clasă, tag și querySelector)</li>
    <li>crearea și ștergerea de elemente</li>
    <li>inputuri și formulare</li>
    <li>folosiți <code>setTimeout()</code> și <code>setInterval()</code></li>
    <li>folosirea LocalStorage</li>
    <li>folosirea a cel puțin o metodă din clasele Math, Array, String, Date</li>
    <li>schimbarea aleatorie a unor proprietăți</li>
    <li>
      eventimente
      <ul>
        <li>folosirea de evenimente generate de mouse și tastatură</li>
        <li>folosiți <code>target</code> și <code>currentTarget</code></li>
        <li>folosiți <code>preventDefault()</code> și <code>stopPropagation()</code></li>
      </ul>
    </li>
    <li>folosiți metodele <code>getComputedStyle()</code> și <code>getBoundingClientRect()</code></li>
    <li>validați datele dintr-un formular folosind expresii regex</li>
  </ul>
  <b>Node.js (8p)</b>
  <ul>
    <li>cereri GET/POST: preluarea datelor din formular</li>
    <li>cereri AJAX cu preluarea datelor din fișier JSON</li>
    <li>sesiuni: login și logout</li>
    <li>template-uri (prin EJS sau orice alt template rendering engine doriți)</li>
    <li>creați o pagină pentru erori 404</li>
  </ul>
</mat-card>

<mat-card>
  <mat-card-title>Recomandări privind mediul de dezvoltare</mat-card-title>
  <ul>
    <li>Utilizarea <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a> ca IDE;</li>
    <li>
      Folosiți Google Chrome sau Mozilla Firefox pentru a testa codul pe care în scrieți.
      Acestea dispun de DevTools superioare celorlaltor browsere, deci va fi mult mai ușor
      să faceți debugging. De asemenea, vă pot ajuta să vizualizați modificările CSS pe care
      le faceți elementelor HTML prin Inspect element, sau chiar să testați cod JS direct în consolă.
    </li>
    <li>
      Descărcați <a href="https://nodejs.org/en/" target="_blank">Node.js</a> (versiunea LTS) și 
      instalați-l pe calculatorul vostru.
    </li>
    <li>
      O ultimă recomandare este ca, în cazul în care puteți, să veniți cu propriul vostru laptop
      (cel puțin de la partea când începem Node.js). Veți câștiga probabil mult timp în ceea ce privește
      descărcarea și instalarea pachetelor de Node.
    </li>
    <li>
      Puneți cât mai multe întrebări și încercați să rezolvați toate temele, o să vă ajute să
      prindeți dexteritate pentru examen.
    </li>
  </ul>
</mat-card>

<mat-card>
  <mat-card-title>Date de contact</mat-card-title>
  <p>
    Andrei Hagi <br>
    <b>E-mail: </b><a href="mailto:hagiandrei.ah@gmail.com" target="_blank">hagiandrei.ah@gmail.com</a>
  </p>
</mat-card>
